<% layout('layouts/boilerplate')%>
<h1>All Campgrounds</h1>
<h2><a href="/campgrounds/new">Add Campground</a></h2>
<ul>
    <% for(let camp of campgrounds){ %>
        <li> <a href="/campgrounds/<%=camp._id%>"><%=camp.title %></a></li>  
    <% } %>
</ul>

