<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/campgrounds" method="POST">
        <label for="title">Title</label>
        <input id="title" name="campground[title]" type="text">
        
        <label for="loc">Location</label>
        <input id="loc" name="campground[location]" type="text">

        <button>SUBMIT</button>
        

    </form>
    <a href="/campgrounds">HOME</a>
    
</body>
</html>