<% layout('layouts/boilerplate') %>
    <form action="/campgrounds" method="POST">
        <label for="title">Title</label>
        <input id="title" name="campground[title]" type="text">
        
        <label for="loc">Location</label>
        <input id="loc" name="campground[location]" type="text">

        <button>SUBMIT</button>
        

    </form>
    <a href="/campgrounds">HOME</a>
